.counter {
  border: solid 3px hsl(255, 100%, 25%);
  border-radius: 3px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
}

.count {
  grid-row: span 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.toggles {
  display: flex;
  flex-direction: column;
}

/* styling to incrementor and decrementor buttons */
.counter > button {
  border: none;
  /* color: #fff; */
  color: hsl(255, 100%, 25%);
  background-color: hsl(255, 100%, 95%);
  font-size: 1.4rem;
  /* height: 1.5rem; */
  outline: none;
  width: 1.5rem;
  /* background-color: #fff; */
}
.counter > button:hover {
  cursor: pointer;
  /* background-color: #ddd; */
  background-color: hsl(255, 100%, 90%);
}
.counter > button:disabled {
  background-color: #ddd;
  color: #444;
  cursor: default;
}

/* adding border on reaching edge counts */
.upper {
  border-top-color: #0f0;
}
.lower {
  border-bottom-color: #f00;
}
